body {
    background: #F4F4F4;
}

.left-menu {
    margin-top: 1% !important;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    font-weight: 700;
}

.left-menu > .actived {
    text-decoration: underline;
}
.carousel-indicators .active {
    background: #FFC800;
}
.carousel-indicators {
    bottom: 0px;
}